.body {
  background-color: black;
  height: 100vh;
}
.App {
  display: flex;
  text-align: center;
}

.pay {
  width: 50%;
  border-right: 2px solid green;
}
.buy {
  width: 50%;
}
.vndc {
  margin-left: 10%;
  color: white;
}
.onus {
  display: flex;
  width: 50%;
  margin-left: 10%;
  color: white;
}
.usdt {
  display: flex;
  width: 50%;
  margin-left: 10%;
  color: white;
}
.price {
  margin-left: 5%;
  color: white;
}
.win {
  color: yellow;
}

.lose {
  color: red;
}

.image_logo {
  height: 50px;
  width: 50px;
}
